---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<BaseLayout>
  <h1 class="page-title">Writing</h1>
  <ul class="post-list">
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>{post.data.title}</a>
          <p class="post-meta">
            <FormattedDate date={post.data.pubDate} />
          </p>
          <p class="summary">{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
