---
import { SITE_TITLE } from "../consts";
---

<header class="site-header">
  <div class="wrap">
    <a class="brand" href="/">{SITE_TITLE}</a>
    <nav>
      <a href="/">Writing</a>
      <a href="/about/">About</a>
      <a href="/rss.xml">RSS</a>
    </nav>
  </div>
</header>
